<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WeblyWeddings</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>jsp/index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignUpController</display-name>
    <servlet-name>SignUpController</servlet-name>
    <servlet-class>com.appshelf.weblyweddings.controller.SignUpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpController</servlet-name>
    <url-pattern>/SignUpController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.appshelf.weblyweddings.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.appshelf.weblyweddings.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinWeddingController</display-name>
    <servlet-name>JoinWeddingController</servlet-name>
    <servlet-class>com.appshelf.weblyweddings.controller.JoinWeddingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinWeddingController</servlet-name>
    <url-pattern>/JoinWeddingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyWeddingController</display-name>
    <servlet-name>MyWeddingController</servlet-name>
    <servlet-class>com.appshelf.weblyweddings.controller.MyWeddingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyWeddingController</servlet-name>
    <url-pattern>/MyWeddingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LikePhotoController</display-name>
    <servlet-name>LikePhotoController</servlet-name>
    <servlet-class>com.appshelf.weblyweddings.controller.LikePhotoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikePhotoController</servlet-name>
    <url-pattern>/LikePhotoController</url-pattern>
  </servlet-mapping>
</web-app>